@model bie.evgestao.ui.mvc.Models.IndexViewModel
@{
    ViewBag.Title = "Alterar meus dados";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>Senha:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Modificar sua senha", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Criar senha", "SetPassword")
            }
            ]
        </dd>


    </dl>
</div>
