@{

    ViewBag.Title = "Nova senha enviada por e-mail";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}




<div class="col-md-5 col-sm-5 col-xs-11 center-margin">


    <h3 class="text-center pad25B font-gray font-size-23">
        Solicitação recebida
    </h3>

    <div id="login-form" class="content-box">
        <div class="content-box-wrapper pad20A">

            <p> <strong> Caso o seu e-mail seja encontrado em nosso sistema, você receberá um link para gerar uma nova senha </strong> </p>

            <p>&nbsp;</p>


            @Html.ActionLink("Clique aqui", "Login", "Account") para se logar novamente


        </div>

    </div>
</div>








