@model System.Web.Mvc.HandleErrorInfo

@{
    
    ViewBag.Title = "Conta desativada!";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}








<div class="login-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Conta desativada </span>
        </div>
        <div class="panel-body text-center">

            Sua conta está desativada. Entre em contato com o suporte técnico para solicitar a re-ativação

        </div>
    </div>
</div>












