@{

    ViewBag.Title = "Senha resetada conm sucesso!";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}


<div class="center-vertical">
    <div class="center-content">
        <div class="col-md-4 col-sm-5 col-xs-11 col-lg-3 center-margin">
            <div class="panel-layout wow bounceInDown animated" style="visibility: visible; animation-name: bounceInDown;">
                <div class="panel-content pad0A bg-white">
                    <div class="meta-box meta-box-offset">
                        <h4 class="meta-subheading font-size-13 font-gray">Operação concluída</h4>
                    </div>
                    <div class="content-box-wrapper pad20A ">
                        <p class="label-default">
                            Sua senha foi resetada conforme solicitado.
                            <br />  @Html.ActionLink("Clique aqui", "Login", "Account") para se logar novamente <br />
                            Caso a senha não funcione verifique se o link para geração da nova senha está completo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>